*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
}
section{
    width: 30%;
    height: 35vh;
    background-color: #8b0000;
    float: left;
    margin-left: 35%;
    margin-top: 35vh;
}

section h2{
    text-align: center;
    margin-top: 12vh;
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
}